.backgrounddiv{
    width: 100%;
    height: 100vh;
    background-color: darkslategrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profilediv{
    width: 25%;
    height: 80vh;
    background-color: deepskyblue;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
}
