<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-in</title>
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
</head>
<body class="text-center">
    <table>
        <form action="/signin" method="post">
            <h1>Sign-in</h1>
            <tr>
                <td><label for="inputEmail">Email</label></td>            
                <td>
                    <input 
                        type="text"
                        id="inputEmail"
                        name="email"
                        placeholder="Enter your name"
                        required
                        autofocus
                    />
                </td>
            </tr>
            <tr>
                <td><label for="inputPassword">Password</label></td>            
                <td>
                    <input 
                        type="password"
                        id="inputPassword"
                        name="password"
                        placeholder="Password"
                        required
                        autofocus
                    />
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in
                    </button>
                </td>
            </tr>
        </form>
        <tr>
            <td>
                <button class="btn btn-lg btn-primary btn-block" onclick="location.href='/signup'">
                    Sign Up
                </button>
            </td>
        </tr>
    </table>    
</body>
</html>
