<!DOCTYPE html>
<html>
  <head>
    <title>Signup Page</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <link rel="icon" type="png" href="favicon.png" />

    <link href="login.css" rel="stylesheet" />
  </head>
  <body>
   

    <div class="grid-container">
        <div class="grid-item">
            SIGN UP
        </div>
        
        <form method="POST" action="/signup">
          
          <div class="grid-item grid-bar">
              <input
              type="name"
              name="name"
              id="name"
              class="form-control"
              placeholder="Your Name"
              required
              autofocus
              />
            </div>
          
          <div class="grid-item grid-bar">
            <input 
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Email address"
            required
            autofocus
            />
          </div>

          <div class="grid-item grid-bar">
            <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Password"
            required
            />
          </div>

          <div class="grid-item grid-bar">
          <button
          class="btn btn-primary"
          type="submit"
          >
            Sign Up
          </button>
          </div>
          <hr />
        </form>
          <div class="grid-item grid-bar">

          <form method="GET" action="/signin">
          <button
          class="btn btn-google"
          type="submit"
          ></i> Already a User? Sign In
          </button>
          </form>
        </div>


        <div class="grid-item-small">
          <p>A Minimalistic To-Do List App</p>
          <a href="https://sujata13.github.io">About Developer</a>
        </div>

      </div>  
  </body>
</html>
