<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./stylesheet.css">
</head>
<body class="text-center">
    <div class="backgrounddiv">
        <div class="profilediv">
        <table>
            <form action="/signup" method="post">
                <h1>SignUp To Use this beautiful ToDo List app</h1>
                <tr>
                    <td><label for="inputName">Name</label></td>            
                    <td>
                         <input 
                        type="text"
                        id="inputName"
                        name="name"
                        placeholder="Enter your name"
                        required
                        autofocus
                         />
                    </td>
                </tr>
                <tr>
                    <td><label for="inputEmail">Email address</label></td>            
                     <td>
                         <input 
                            type="email"
                             id="inputEmail"
                             name="email"
                             placeholder="Email address"
                                required
                             autofocus
                            />
                    </td>
                </tr>
                <tr>
                    <td><label for="inputPassword">Password</label></td>            
                    <td>
                        <input 
                            type="password"
                            id="inputPassword"
                            name="password"
                            placeholder="Password"
                            required
                            autofocus
                        />
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign Up
                    </button>
                </td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button class="btn btn-lg btn-primary btn-block" onclick="location.href='/signin'">
                        Sign-in
                    </button>
    
                </td>
            </tr>
            </table>
        </div>
    </div>        
</body>
</html>
