/* font-family: "Open Sans"
font-family: Pacifico
 */
body {
  font-family: "Arial";
}

h1 {
  font-family: "Pacifico";
}

footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

.grid-container {
  display: grid;
  padding: 5px;
  margin-bottom: 1rem;
}

.grid-head {
  grid-template-columns: auto;
  border-radius: 0.35rem;
  margin: 1rem;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.grid-item {
  padding: 10px;
  text-align: center;
}

.grid-search {
  grid-column: 1 / span 10;
}

.grid-postbutton {
  margin-left: 1rem;
  grid-column: 11 / span 1;
}

.grid-signoutbutton {
  text-align: right;
  grid-column: 12 / span 1;
}

.grid-todo {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.75rem 1.25rem;
  grid-column: 1 / span 70;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: left;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.grid-editbutton {
  padding: 3px;
  grid-column: 71 / span 1;
}

.grid-delbutton {
  padding: 3px;
  grid-column: 72 / span 1;
}

.grid-donebutton {
  padding: 3px;
  grid-column: 73 / span 1;
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  border: 3px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.05s ease-in-out;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-edit {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-del {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-done {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:hover {
  color: #fff;
  border-color: #ccd9df;
}
